@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #7dd2ff;
    color: #fff;
}

.container {
    margin: 12%;
    width: 100%;
    max-width: 50rem;
}

.container h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

.container h1 span {
    color: #ff0088;
    font-weight: 900;
    display: block;
}

.display {
    width: 100%;
    margin: 3rem 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.display input {
    width: 100%;
    height: 100%;
    padding: 1.23rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    cursor: default;
    color: #000;
}

.display button {
    background-color: transparent;
    padding: 0 1rem;
    font-size: 3rem;
    border: none;
    cursor: pointer;
}

.display button i {
    color: #ff0088;
}

.password-length {
    max-width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.password-length input[type="range"] {
    width: 70%;
    outline: none;
}

.password-length input[type="number"] {
    width: 5.5rem;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.8rem;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 0.5rem;
}

.checkbox-list {
    margin-bottom: 2rem;
}

.checkbox-list .options {
    display: flex;
    flex-wrap: wrap;
    height: 3.5rem;
    align-content: center;
    cursor: pointer;
    font-size: 1.6rem;
}

.checkbox-list .options input {
    margin-right: 1rem;
    margin-top: 0.4rem;
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
    font-size: 1.4rem;
}

.generate {
    background-color: #ff0088;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
}

.generate i {
    margin-right: 1rem;
}
